@charset "UTF-8";
/* CSS Document */

/* reset styles
------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* fonts
------------------------------------------------ */
@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/Aleo-Regular.woff') format('.woff'),
			url('../fonts/Aleo-Regular.ttf') format('truetype'),
			url('../fonts/Aleo-Regular.eot') format(''),
			url('../fonts/Aleo-Regular.svg');
}


	
/* screen layout basics 
-------------------------------------------- */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/*FOR PARALLAX*/
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.socialmenu {
	float:right !important;
	padding-top: .5em !important;
	}

.socialmenu li {
	display:inline;
	padding: 0 .25em .1em .15em;
	}

.big-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.main-content {
	max-width:650px;
	padding:20px 0px;
	margin:5em 50% 0 10%;
	background:#fff;
	}
	
/*.mapbox {
	display:block;
	max-height:550px; 
	max-width:950px;
	position:relative;
	}*/
	
	/** annieb edits **/	
.mapbox {
	display:block;
	height:550px; 
	width:120%;
	position:relative;
	margin-top:0 !important;
	margin-bottom:3em !important;
}


.maptext {
		margin-top:4em !important;
		margin-bottom:.0!important;
		width:120%;
}

.maptext h8 {
	font-family:arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight:bold;
	text-transform:uppercase;
	color:#54A8A8;
}

.maptext p {
	color:#5E5B5B;
	font-size:17px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:18px !important;
	margin-bottom:.25em !important;	
	}

#locator-map {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	margin: 3em 0;
}

.sidebar-right {
	float:right;
	width:40%;
	max-width:500px;
	margin-top: 0 !important;
	margin-left:5em;
	margin-right:-50%;
	display:block;
	border-bottom: 1px solid #7a7a7a;
	border-top: 1px solid #7a7a7a;
	padding: 1em 0;
}

.sidebar-right p {
	color:#5E5B5B;
	font-size:15px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:18px !important;
	margin-bottom:.25em !important;
	}
	
.sidebar-right ul {
	font-size:14px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:bold;
	line-height:16px !important;
	text-transform:uppercase;
	list-style-type:none;
	margin-top:.15em;
	}
	
.sidebar-right li {
	line-height:18px !important;
	}
	
.sidebar-right h7 {
	color:#54A8A8;
	font-family:aleoregular, courier, serif;
	font-size:22px;
	}
	
.authorsidebar-right {
	float:right;
	width:40%;
	max-width:500px;
	margin-top: 0 !important;
	margin-left:5em;
	margin-right:-50%;
/*	display:block;
*/	border-bottom: 1px solid #7a7a7a;
	border-top: 1px solid #7a7a7a;
	padding: 1em 0;
}	

.authorsidebar-right p {
	color:#5E5B5B;
	font-size:15px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:18px !important;
	margin-bottom:.25em !important;
	}
	
.authorsidebar-right h7 {
	color:#7a7a7a;
	font-family:aleoregular, courier, serif;
	font-size:22px;
	letter-spacing:.1em;
	}
	
.authorsidebar-right ul {
	font-size:12px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:normal;
	line-height:16px !important;
	text-transform:uppercase;
	list-style-type:none;
	margin-top:.5em;
	}
	
.authorsidebar-right li {
		margin: 1em auto;
		display:inline;
		float:left;
	}
	
.authorsidebar-right li a:link {
	color:#7a7a7a;
	text-decoration:none;
	}
	
.authorsidebar-right li a:hover {
	color:#000000 !important;
	font-weight:bold;
	}
	
.authorsidebar-right li a:visited {
	color:#7a7a7a;
	}

.pullquote {
	width:130%;
	margin:2em 0 2em 0 !important;
	display:block;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}


.pullquote p {
	color:#D44D37;
	font-size:3em !important;
	font-family:'aleoregular', courier;
	line-height:50px !important;
	text-transform:none;
	margin-bottom:0 !important;
	padding: .5em 0;
}

.pullquote p span {
	font-size:.5em !important;
	color:#7a7a7a !important;
	}

#section-1  {
	margin-top:60%;
	}
	
h6 {
	text-align:center;
	font-family:aleoregular, courier, serif;
	color:#fff;
	font-size:40px;
	}
	
h7 {
	font-family:courier;
	font-size:18px;
	text-transform:uppercase;
	}
	
.captionbox {
	margin:0 auto;
	padding:0;
	position:relative;
	max-width:30%;
	background-color:#000;
	opacity:.6;
	z-index:9999;
	clear:none;
	}
	
.captionbox p {
	text-align:left;
	color:#fff;
	font-size:.9em !important;
	font-family:arial, helvetica, sans-serif;
	padding: .5em .5em;
	line-height:1em !important;
	}
	
.credit {
	display:inline;
	font-size:9px;
	text-transform:uppercase;
	}
	
.section-box {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	max-width:40%;
	padding:.5em .5em .5em 1em;
	margin:10% auto;
/*	margin-left: -1em;
	margin-top:5em;*/
		}


/* Slide 1 */
*#section-1 .big-background {background-image:url('../images/bg01.jpg')}


/* Slide 2 */
#section-2 .big-background {background-image:url('../images/sec2open.jpg')}


/* Slide 3 */
#section-3 .big-background {background-image:url('img/bcg_slide-3.jpg')}


/* Slide 4 */
#section-4 .big-background {background-image:url('img/bcg_slide-1.jpg')}


/* Slide 5 */
/*#section-5 .big-background {background-image:url('img/bcg_slide-3.jpg')}
*/

/* Slide 6 */
/*#section-6 .big-background {background-image:url('img/bcg_slide-2.jpg')}
*/

/* Slide 7 */
/*#section-7 .big-background {background-image:url('img/bcg_slide-3.jpg')}
*/

/* Slide 8 */
/*#section-8 .big-background {background-image:url('img/bcg_slide-1.jpg')}
*/



/* General Styles
--------------------------------------------------*/
em {
	font-style:italic;
}
.drop {
	font-size:1.5em;
	font-family:aleoregular, courier, serif;
	color: #54A8A8;
	display:inline;
}

header {
	padding:0 8px;
	border-bottom:1px solid #ddd;
	background:#111;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:fixed;
	top:0;
	z-index:99999;
	
}
header ul {
	margin:0 auto;
}
ul.dropdown li.icon-logo a 
{
	width:96px;
	height:30px;
	display:block;
	background-position:top center;
	background-repeat:no-repeat;
	margin-right:.2em;
	margin-top:.23em;
	margin-bottom:.2em;
	padding-left:0;
	padding-right:0;
	background:url('../images/irwlogo2.png') top left no-repeat; /* km changed from 'top center no-repeat' to fix logo spacing at mobile */
}

ul.dropdown li.icon-logo a:hover {
/*	background-position:bottom center;
*/}
ul.dropdown li.icon:hover a,
ul.dropdown li.icon.hover a {
/*	background-position:bottom center;
	background-color:transparent;*/
}
header ul,
header ul li {
	float:left;
	list-style:none;
}
header ul li {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:16px;
}
header ul li#mag-menu > a {
	position:relative;
	top:.25em;
}
header ul li#comment-icon > a {
	position:relative;
	right:2px;
	font-size:24px;
}
header ul.dropdown.right {
	float:right;
}
header ul li.currentCh a {
	color:#fff;
}
#nav-sections-list {
	display:inline-block;
	position:relative;
	top:.55em;
}
header ul li a {
	color:#888;
	text-decoration:none;
	display:inline-block;
	margin:0 10px 0 0;
}
header ul li a:hover {
	color:#fff;
}

.intro {
	width:100%;
	background-color:#88BEBE;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	overflow:hidden;
	padding-top:15%;
/*	background-image:url('images/img4.jpg') top center no-repeat;
*/	
}


h1 {
	font-family:'aleoregular';
	font-size:3.75em;
	text-align:center;
	letter-spacing:.05em;
	color:#fff;
	padding-top:.25em;
	border-top: 1px solid #fff;
	text-transform:uppercase;
	}

.intro-dek {
	width:60%;
	max-width:1000px;
	margin: 10px auto;
	border-bottom: 1px solid #fff;
	padding-bottom:1em;
	}
	
.intro-dek h5 {
	font-family:'aleoregular', courier;
	font-size: 26px;
	text-align:center;
	color:#fff;
	line-height:30px;
	letter-spacing:.025em;
	}
	
.intro-inner {
	max-width:1200px;
	margin:0 auto;
}

.arrowdown {
	width:60%;
	margin: 2em auto;
	}
	
.arrowdown p {
	font-family: 'aleoregular', courier, serif;
	font-size: 44px;
	color: #fff;
	text-align:center;
	}
	
.arrowdown a {

	color: #fff;
	}		

p#author {
	color:#fff;
	font-family:'aleoregular',courier, serif;
	font-size:20px;
	text-align:center;
	margin:2em 0;
}

p#author span {
	font-size:75%;
	letter-spacing:.05em;
	text-transform:uppercase;
	}

a#view-list {
	display:block;
	text-align:right;
	color:#888;
	margin:20px 0 0 0;
}
#story {
	font-family:Georgia, serif;
	width:100%;
	margin:0;
	position:absolute;
}
#story p {
	font-size:20px;
	line-height:26px;
	margin-bottom:20px;
}
#story section {
	/*background-color:#ffffff;
	max-width:700px;*/
	margin-top:0px;
	margin:0px auto;
	padding:0em 0em;

}
#story h3 {
	font-size:44px;
	padding:10px 0 6px;
}
.semi-break {
	width:100%;
	text-align:center;
	font-size:9px;
	margin:60px 0 10px;
	letter-spacing:30px;
	color:#333;
}

.caption {
	width:100%
	margin: 0 0 .5em 0;
	}
	
.caption p {
	font-size: 13px;
	font-family: arial, helvetica, sans-serif;
	color:#7a7a7a;
	}	

.img-box {
	width:100%;
	margin-bottom:20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.img-box-left {
	width:45%;
	float:left;
	margin:10px 25px 20px -10%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.img-box-left#portrait {
	width:30%;
}
.img-box img,
.img-box-left img {
	width:100%;
	border:1px solid #eee;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
/*	box-shadow:0 1px 8px #888;
*/}
.img-box p,
.img-box-left p {
	font-size:14px !important;
	line-height:14px !important;Ë™
	padding:3px 0 9px;
}
.img-slider {
	display:block;
	clear:both;
	width:120%;
	margin-bottom:10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.video {
	margin-bottom:10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
/*	width:660px;
*/	position: relative; padding-bottom: 60.25%; height: 0; overflow: hidden; max-width: 100%; height: 100%;
}

.video iframe {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
	}


/* Responsive Queries
------------------------------------------------ */

/* Large Screen Size */
@media (min-width: 1471px) {
}

/* Desktop Size */
@media (max-width: 1470px) {
}

/* Tablet Landscape Size */
@media (max-width: 1050px) {
.intro {
	padding-top:20%;
	max-height: 1000px;
}

.intro h1 {
	font-size:2.75em;
	padding-top:.25em;
	}

.intro-dek h5 {
	font-size: 20px;
	line-height:26px;
	letter-spacing:.025em;
	}
	
.main-content {
	max-width:65%;
	padding:20px 0px;
	margin:5em auto;
	background:#fff;
	}
	
.pullquote {
	width:100%;
	}
	
.pullquote p {
	font-size:38px !important;
	line-height:42px !important;
	}
	
.sidebar-right {
	float:none;
	width:100%;
	max-width:1050px;
	margin: 2em auto;
	display:block;
	padding: 1em 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

}

/* background image hack */
@media (min-width: 1031px) {
	.big-background {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover; /* this only appears inside this mid-width:1031px query */
		height: 100%;
		width: 100%;
	}
	
}

/* Tablet Portrait Size - Adjusted for Opening Portrait */
@media  (max-width: 970px) {

.intro {
	padding-top:20%;
	max-height: 700px;
}

.intro h1 {
	font-size:2.75em;
	padding-top:.25em;
	}

.intro-dek h5 {
	font-size: 20px;
	line-height:26px;
	letter-spacing:.025em;
	}

a#view-list {
		text-align:center;
		clear:both;
		margin:20px 0 0 0;
	}
	
.main-content {
	max-width:650px;
	padding:20px 0px;
	margin:5em auto;
	background:#fff;
	}
	
.authorsidebar-right {
	float:none;
	width:100%;
	max-width:970px;
	margin: 0 0 5em 0 !important;
	padding: 1em 0;
	border-bottom:0px !important;
}

.authorsidebar-right ul {
	border-bottom:1px solid #000000;
	padding-bottom:6em;
}

.authorsidebar-right li {
	margin-right:2em;
	}
	
.sidebar-right {
	float:none;
	width:100%;
	max-width:970px;
	margin: 2em auto;
	display:block;
	padding: 1em 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.section-box {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	max-width:70%;
	padding:.5em .5em .5em 1em;
	margin:10% auto;
		}

.pullquote {
	width:100%;
	}
	
.pullquote p {
	font-size:38px !important;
	line-height:42px !important;
	}
.big-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
	height: auto;
	width: 100%;
}
}

/* Mobile Landscape Size (devices and browsers) */
@media (max-width: 800px) {
	
.big-background {
	background-position: center bottom; /* bottom is what makes image align to bottom instead of center */
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
	height: 100%;
	width: 100%;
}

/*.car-elevator .intro {
	background-color:#fff !important;
	}*/
	
.intro {
	padding-top:20%;
}

.intro h1 {
	font-size:24px !important;
	padding-top:.2em;
	padding-bottom:.2em;
	line-height:1em;
	}
	
.intro-dek {
	width:90%;
	}


.intro-dek h5 {
	font-size: 15px;
	line-height:18px;
	}
	
.car-elevator .intro {
	background-color:#fff;
	}
	
a#view-list {
	text-align:center;
	clear:both;
	margin:20px 0 0 0;
	}
	
.main-content {
	width:85% !important;
	max-width:750px !important;
	padding:20px 0px;
	margin:3em auto;
	background:#fff;
	}
	
.sidebar-right {
	float:none;
	width:100%;
	max-width:970px;
	margin: 2em auto;
	display:block;
	padding: 1em 0;
}

.authorsidebar-right {
	float:none;
	width:100%;
	margin: .5em 0 4em 0 !important;
	padding: 1em 0;
	border-bottom:0px !important;
}

.authorsidebar-right ul {
	border-bottom:1px solid #000000;
	padding-bottom:6em;
}

.section-box {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
	max-width:70%;
	padding:0 !important;
	margin:0 auto !important;		}
		
.section-box h6 {
	font-size:32px;
	color:#000000;
	}

p#author span {
	font-size:50%;
	}

.pullquote {
	width:100%;
	}
	
.pullquote p {
	font-size:38px !important;
	line-height:42px !important;
	}
	
.captionbox {
	max-width:60% !important;
	}
	


}

/* Mobile Portrait Size */
@media (max-width: 550px) {

.nav-item ul {
padding-left:.25em;}

.captionbox {
	max-width:60% !important;
	}
	
.intro {
	padding-top:20%;
	max-height: 550px;
	margin-bottom:0 !important;
}

.intro h1 {
	font-size:24px;
	padding-top:.3em;
	padding-bottom:.2em;
	line-height:1em;
	}

.intro-dek h5 {
	font-size: 14px;
	line-height:16px;
	}

a#view-list {
	text-align:center;
	clear:both;
	margin:20px 0 0 0;
	}
	
.main-content {
	width:80%;
	max-width:500px;
	padding:20px 0px;
	margin:3em auto;
	background:#fff;
	}
	
.sidebar-right {
	float:none;
	width:100%;
	max-width:970px;
	margin: 2em auto;
	display:block;
	padding: 1em 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.section-box {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	max-width:70%;
/*	padding:.5em .5em .5em 1em;
*/	margin:0 auto !important;
		}
		
.section-box h6 {
	}

.pullquote {
	width:100%;
	}
	
.pullquote p {
	font-size:38px !important;
	line-height:42px !important;
	}
	
	#nav-sections-list {
		display:block;
		position:absolute;
		top:31px;
		left:0;
		width:100%;
		background:#111;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:4px 8px;
	}
	#nav-sections-list li {
		display:block;
		
	}
	li#mag-menu > a {
		display:none;
	}
	.img-box-left {
		width:85%;
		float:none;
		margin:10px auto 20px auto;
	}
	
p#author span {
	font-size:50%;
	}
	
}


	

	




